<h3><%= @user.username %>'s Console</h3>
<%= link_to 'Home', root_path %>

<p>Username: <%= @user.username %></p>
<p>E-mail: <%= @user.email %></p>

<hr>

<div>
<h3> Wallet </h3>
</div>
<div>
<p><strong>BTC BALANCE:</strong> <%= @user.default_wallet.btc_total %> BTC</p>
<p><strong>USD BALANCE:</strong> $<%= @user.default_wallet.usd_total %></p>
</div>
<hr>

<div>
  <h3> Trading Console </h3>
</div>

<%= link_to 'Buy/Sell Coins', new_user_trade_path(@user) %>

<div>
  <h4> Trade History </h4>
</div>

<table style="width:400px">
  <tr>
    <th>Amount</th>
    <th>Price</th>
    <th>Total</th>
    <th>Type</th>
    <th>Time</th>
  </tr>
  <div>
    <% @user.trades.each do |trade| %>
      <tr>
      <td><%= trade.amount %> BTC</td>
      <td>$<%= trade.price %></td>
      <td>$<%= trade.total %></td>
      <td><%= trade.trade_type %></td>
      <td><%= trade.created_at %></td>
      </tr>
    <% end %>
  </div>
</table>
