<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h3>Make a Trade</h3>
      <%= form_for [@user, @trade] do |f| %>

        <p>USD/BTC: <%= @trade.find_price %></p>

        <div>
          <%= f.label :amount %>
          <%= f.text_field :amount %>
        </div>

        <div>
          <%= f.label :trade_type %>
          <%= f.select(:trade_type, ['buy', 'sell']) %>
        </div>

        <%= f.submit 'Submit' %>
    <% end %>
    </div>
  </div>
</div>
