<!DOCTYPE html>
<html>
<head>
  <title>Arcade</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash.any? %>
    <div class="notice"><%= flash[:notice] %></div>
    <div class="alert"><%= flash[:alert] %></div>
  <% end %>

  <%= yield %>

  <% if user_signed_in? %>
    <%= link_to 'Edit Profile', edit_user_registration_path%>
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
  <% end %>

</body>
</html>
